<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src={{asset "images/logo-white.svg"}} alt="" />
        <p>Novi Sad, Serbia, Europe</p>
        <a href="https://github.com/kolosek" target="_blank"><img src={{asset "images/ic-git.svg"}} alt="" /></a>
        <a href="https://www.facebook.com/Kolosekcom/" target="_blank"><img src={{asset "images/ic-facebook.svg"}} alt="" /></a>
        <a href="https://www.instagram.com/kolosekcom/?hl=en" target="_blank"><img src={{asset "images/ic-instagram.svg"}} alt="" /></a>
        <a href="https://twitter.com/kolosekcom" target="_blank"><img src={{asset "images/ic-twitter.svg"}} alt="" /></a>
        <a href="https://rs.linkedin.com/company/kolosek-it" target="_blank"><img src={{asset "images/ic-linkedin.svg"}} alt="" /></a>
      </div>
      <div class="col-2">
        <nav>
          <ul class="list-unstyled">
            <li>
              <h3><a href="#">Company</a></h3>
            </li>
            <li>
              <a href="/about">About Us</a>
            </li>
            <li>
              <a href="#">Careers</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-2">
        <nav>
          <ul class="list-unstyled">
            <li>
              <h3><a href="#">Services</a></h3>
            </li>
            <li>
              <a href="#">Our Process</a>
            </li>
            <li>
              <a class="ic" href="https://link.kolosek.com/c358e220" target="_blank">Portfolio<img src={{asset "images/ic-pdf.svg"}} alt="" /></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-2">
        <nav>
          <ul class="list-unstyled">
            <li>
              <h3><a href="#">Solutions</a></h3>
            </li>
            <li>
              <a href="#">Design Review</a>
            </li>
            <li>
              <a href="#">Code Review</a>
            </li>
            <li>
              <a href="#">Open Source</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-2">
        <nav>
          <ul class="list-unstyled">
            <li>
              <h3><a href="#">Legal</a></h3>
            </li>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
          </ul>
        </nav>
      </div>
    </div><!-- /.row -->
    <div class="row">
      <div class="col-12">
        <p class="copyright text-center">Copyright © 2023 KOLOSEK. All rights reserved.</p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /#footer -->
