{{!< default_bootstrap}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> navigation }}

<main class="portfolio">
  <section class="home-ux portfolio-ux">
    <h2 class="text-center h1">
      Quality code which will be presented
      <br>
      through excellent UX
    </h2>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <p class="text-center fs-5">
            Our competence in custom software development has helped launch
            <br>
            multiple successful startup companies around the world
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="about-stats portfolio-stats">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-2 offset-xl-1 mb-5 mb-xl-0 justify-content-center justify-content-mb-start">
          <p>
            <span class="h2">11</span>
            <strong class="h5 mb-0">years</strong>
          </p>
        </div>
        <div class="col-12 col-xl-2 mb-5 mb-xl-0 py-4 py-xl-0 justify-content-center justify-content-mb-start">
          <p>
            <span class="h2">30</span>
            <strong class="h5 mb-0">employes</strong>
          </p>
        </div>
        <div class="col-12 col-xl-3 justify-content-center pt-4 pt-xl-0 mb-5 mb-xl-0">
          <p>
            <span class="h2">8+</span>
            <strong class="h5 mb-0">
              years longevity
              <br>
              of support
            </strong>
          </p>
        </div>
        <div class="col-12 col-xl-3 pt-4 pt-xl-0 justify-content-center">
          <p>
            <span class="h2">1-2</span>
            <strong class="h5 mb-0">
              products/year gets
              <br>
              to Series A funding
            </strong>
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-intro portfolio-intro">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center h2 mb-5">
            Creative software solutions that work
          </h2>
          <p class="text-center fs-5 mb-5 mb-lg-12">
            Together we can create a winning product that will transform it's users’ day-to-day live for the good
            <br class="d-none d-md-block">
            Or simplify your business processes & reduce expenses
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="card d-block mb-5 mb-lg-0">
            <img src={{asset "images/ic-web.svg"}} alt="">
            <div class="card-body">
              <h3 class="h4 card-title">Web Development</h3>
              <p class="card-text">
                Our developers and designers are there to find the best and the most creative solutions for you  and help you end up with a reliable product and user experience
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-5 mb-lg-0">
          <div class="card d-block">
            <img src={{asset "images/ic-mobile.svg"}} alt="" >
            <h3 class="h4 card-title">Custom Mobile Apps</h3>
            <p class="card-text">
              Mobile apps are timeless. With their number constantly rising, we make sure to deliver an amazing experience combined with high performance across multiple platforms
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-5 mb-lg-0">
          <div class="card d-block">
            <img src={{asset "images/ic-ux.svg"}} alt="" >
            <h3 class="h4 card-title highlight">User Experience</h3>
            <p class="card-text">
              A good user experience should speak to the end user's emotions. Why? Because it's your user's perception of the product that is going to set you apart from all the other apps out there and your competition
            </p>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-product portfolio-product">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center h2">
            Round-the-clock care for your products
          </h2>
          <p class="text-center fs-5 text-black-50">
            We always know what is ongoing and have a good advice
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img src={{asset "images/product-care-portfolio.png"}} class="img-fluid" alt="" >
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-featured home-featured-our portfolio-featured-our">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2">
            In-house projects
          </h2>
          <p class="text-center fs-5">
            We are continuously creating new solutions that transform the way you work
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <img src={{asset "images/featured-ruby-ci.png"}} class="img-fluid"alt="" >
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Ruby.ci</h3>
              <div class="project-services-icons">
                <img src={{asset "images/ic-research.svg"}} alt="" >
                <img src={{asset "images/ic-design.svg"}} alt="" >
                <img src={{asset "images/ic-development.svg"}} alt="" >
              </div>
            </div>
            <h4 class="h5">Best CI platform for your Rails application</h4>
            <p class="card-text">
              2-min setup with no extra code, tools & UI built for your Ruby on Rails Application
              <br><br>
              Most complex code for best user experience
              Combining Elixir, Ruby and React
            </p>
            <a href="https://ruby.ci" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Sniffler</h3>
              <div class="project-services-icons">
                <img src={{asset "images/ic-research.svg"}} alt="" >
                <img src={{asset "images/ic-development.svg"}} alt="" >
              </div>
            </div>
            <h4 class="h5">The most attentive code reviewer</h4>
            <p class="card-text">
              When a GitHub pull request is opened or updated Sniffler simply integrates with your workflow
              <br><br>
              Sniffler scans and reports errors with your code and helps you fix them whenever possible
            </p>
            <a href="#" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img class="img-fluid" src={{asset "images/featured-sniffler.png"}} alt="" >
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <img class="img-fluid" src={{asset "images/featured-git-puller.jpg"}} alt="" >
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">GitPuller</h3>
              <div class="project-services-icons">
                <img src={{asset "images/ic-research.svg"}}  alt="" >
                <img src={{asset "images/ic-design.svg"}} alt="" >
                <img src={{asset "images/ic-development.svg"}} alt="" >
              </div>
            </div>
            <h4 class="h5">Pull request manager </h4>
            <p class="card-text">
              Get the complete transparency in your product development process without risking access to Intelectual Property
              <br><br>
              GitPuller does not require actual access to the code on Github
            </p>
            <a href="#" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-featured portfolio-featured">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2">
            Featured
          </h2>
          <p class="text-center fs-5">
            We have handpicked a few projects to showcase our multifaceted expertise
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">The Next Closet</h3>
              <div class="project-services-icons">
                <img src={{asset "images/ic-research.svg"}} alt="" >
                <img src={{asset "images/ic-development.svg"}} alt="" >
              </div>
            </div>
            <h4 class="h5">Marketplace</h4>
            <p class="card-text">
              The largest marketplace for second hand designer brands in Netherlands
              <br>
              <br>
              Building and maintaining web and mobile app with millions of visitors per month
            </p>
            <a href="https://thenextcloset.com" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img class="img-fluid" src={{asset "images/featured-next-closet.png"}} alt="" >
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <img class="img-fluid" src={{asset "images/featured-oschool.png"}} alt="" >
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">O.school</h3>
              <div class="project-services-icons">
                <img src={{asset "images/ic-research.svg"}} alt="" >
                <img src={{asset "images/ic-development.svg"}} alt="" >
              </div>
            </div>
            <h4 class="h5">Educational platform</h4>
            <p class="card-text">
              Judgment-free, science-based sexual wellness platform · Initial product planning and execution · A virtual classroom app, based on live streaming technology and moderated chat · Featured on Techcrunch
            </p>
            <a href="https://www.o.school/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">MoviePilot</h3>
              <div class="project-services-icons">
                <img src={{asset "images/ic-research.svg"}} alt="" >
                <img src={{asset "images/ic-development.svg"}} alt="" >
              </div>
            </div>
            <h4 class="h5">Your guide to films & cinemas</h4>
            <p class="card-text">
              Alternative of IMDB for Germany speaking market with huge number of visitors
              <br><br>
              We are sole technology partner using Ruby
              on Rails and React for several years
            </p>
            <a href="https://www.moviepilot.de/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img class="img-fluid" src={{asset "images/featured-movie-pilot.png"}} alt="" >
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <img class="img-fluid" src={{asset "images/featured-boardspan.png"}} alt="" >
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Boardspan</h3>
              <div class="project-services-icons">
                <img src={{asset "images/ic-research.svg"}}  alt="" >
                <img src={{asset "images/ic-development.svg"}} alt="" >
              </div>
            </div>
            <h4 class="h5">Governance application</h4>
            <p class="card-text">
              One of the leaders in data analytics, board governance and recruiting to help boards do their best work
              <br><br>
              Being only technology partner for 5+ years and in charge of whole tech stack including API and cross-platform solution
              <br><br>
              Maintaining good quality with ~95% test coverage
              <br>
              Raised angel and 2 rounds of VC funding
            </p>
            <a href="https://boardspan.com/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">WRAP</h3>
              <div class="project-services-icons">
                <img src={{asset "images/ic-research.svg"}} alt="" >
                <img src={{asset "images/ic-development.svg"}} alt="" >
              </div>
            </div>
            <h4 class="h5">Mobile engagement technology</h4>
            <p class="card-text">
              Tell your story, provide service, or sell products right in the messaging feed. All with no programming, no waiting, and no apps to download
              <br><br>
              The Wrap was a big startup that raised Series B funding. At the time we were working together, Kolosek team had a chance to partner up with around 100 people from the San Francisco office
            </p>
            <a href="https://www.wrap.co/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img class="img-fluid" src={{asset "images/featured-wrap.png"}} alt="" >
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-tabbed portfolio-tabbed">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2 mb-5">
            Prioritizing privacy & security
          </h2>
          <p class="text-center fs-6">
            We believe in process driven development & privacy of the data
            <br>
            <strong>ISO 9001:2013, ISO 27001:2013 USA certification</strong>
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="partners home-partners portfolio-partners">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>
            TRUSTED BY
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#"><img class="img-fluid" src={{asset "images/logo-closet.png"}} alt="" ></a>
          <a href="#"><img class="img-fluid" src={{asset "images/logo-boardspan.png"}} alt="" ></a>
          <a href="#"><img class="img-fluid" src={{asset "images/logo-squire.png"}} alt="" ></a>
          <a href="#"><img class="img-fluid" src={{asset "images/logo-simone-leblanc.png"}} alt="" ></a>
          <a href="#"><img class="img-fluid" src={{asset "images//logo-listium.png"}} alt="" ></a>
          <a href="#" class="d-md-none"><img class="img-fluid" src={{asset "images/logo-oschool.png"}} alt="" ></a>
        </div>
        <div class="col-12">
          <a href="#" class="d-none d-md-flex"><img class="img-fluid" src={{asset "images/logo-oschool.png"}} alt="" ></a>
          <a href="#"><img class="img-fluid" src={{asset "images/logo-movie-pilot.png"}} alt="" ></a>
          <a href="#"><img class="img-fluid" src={{asset "images/logo-wrap.png"}}  alt="" ></a>
          <a href="#"><img class="img-fluid" src={{asset "images/logo-ruby-ci.png"}} alt="" ></a>
          <a href="#"><img class="img-fluid" src={{asset "images/logo-versa-commerce.png"}} alt="" ></a>
          <a href="#"><img class="img-fluid" src={{asset "images/logo-style-myle.png"}} alt="" ></a>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">
          <h2 class="text-center h1">
            Get in touch
          </h2>
          <div class="posting-form cover">
            <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/shell.js"></script>
            <script>
              hbspt.forms.create({
              portalId: "1118038",
              region: "na1",
              formId: "0207a4e3-9ea2-4b7b-a5d2-b8eb561ba7dd",
              locale: 'en',
              version: "V2_PRERELEASE",
              onFormSubmit: function($form) {
                $('.cover').removeClass('cover');
                ga('send', 'event', 'conversion', 'contact');
                setFormParameters($form)
              } 
            });
            </script>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
</main><!-- /main -->

{{> footer }}