{{!< default_bootstrap}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> navigation }}

<main class="featured">
  <header class="heading">
    <div class="container position-relative">
      <div class="row">
        <div class="col-12 d-flex align-items-center flex-column mb-0">
          <h1 class="text-center position-relative">
            Featured projects
          </h1>
          <p class="text-secondary fs-5 text-center">
            Over the years, we have created a number of high-quality apps using different technologies
          </p>
        </div>
      </div><!-- /.row -->
      <div class="row featured-technologies">
        <div class="col-10 offset-1 d-flex ali-items-center justify-content-center">
          <img src="{{ asset "images/ic-rails.svg"}}" alt="">
          <img src="{{ asset "images/ic-react.svg"}}" alt="">
          <img src="{{ asset "images/ic-node.svg"}}" alt="">
          <img src="{{ asset "images/ic-ember.svg"}}" alt="">
          <img src="{{ asset "images/ic-vue.svg"}}" alt="">
          <img src="{{ asset "images/ic-ruby-horizontal.svg"}}" alt="">
          <img src="{{ asset "images/ic-js.svg"}}" alt="">
          <img src="{{ asset "images/ic-phoenix.svg"}}" alt="">
        </div>
      </div><!-- /.row -->
    </div>
  </header>
  <section class="home-featured home-featured-our">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2">
            Our products
          </h2>
          <p class="text-center fs-5">
            We are continuously creating new solutions that transform the way you work
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row home-featured-row">
        <div class="col-6">
          <img src="{{ asset "images/featured-ruby-ci.jpg"}}" alt="">
        </div>
        <div class="col-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Ruby.ci</h3>
              <div class="project-services-icons">
                <img src="{{ asset "images/ic-research.svg"}}" alt="">
                <img src="{{ asset "images/ic-design.svg"}}" alt="">
                <img src="{{ asset "images/ic-development.svg"}}" alt="">
              </div>
            </div>
            <h4 class="h5">Best CI platform for your Rails application</h4>
            <p class="card-text">
              2-min setup with no extra code, tools & UI built for your Ruby on Rails Application
              <br><br>
              Most complex code for best user experience
              Combining Elixir, Ruby and React
            </p>
            <a href="https://ruby.ci" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Sniffler</h3>
              <div class="project-services-icons">
                <img src="{{ asset "images/ic-research.svg"}}" alt="">
                <img src="{{ asset "images/ic-development.svg"}}" alt="">
              </div>
            </div>
            <h4 class="h5">The most attentive code reviewer</h4>
            <p class="card-text">
              When a GitHub pull request is opened or updated Sniffler simply integrates with your workflow
              <br><br>
              Sniffler scans and reports errors with your code and helps you fix them whenever possible
            </p>
            <a href="#" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-6">
          <img src="{{ asset "images/featured-sniffler.jpg"}}" alt="">
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-6">
          <img src="{{ asset "images/featured-git-puller.jpg"}}" alt="">
        </div>
        <div class="col-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">GitPuller</h3>
              <div class="project-services-icons">
                <img src="{{ asset "images/ic-research.svg"}}" alt="">
                <img src="{{ asset "images/ic-design.svg"}}" alt="">
                <img src="{{ asset "images/ic-development.svg"}}" alt="">
              </div>
            </div>
            <h4 class="h5">Pull request manager </h4>
            <p class="card-text">
              Get the complete transparency in your product development process without risking access to Intelectual Property
              <br><br>
              GitPuller does not require actual access to the code on Github
            </p>
            <a href="#" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-featured">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2">
            Featured projects
          </h2>
          <p class="text-center fs-5">
            Here are a few recent works we are proud of. For more check our <a href="#">Portfolio</a>
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row home-featured-row">
        <div class="col-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">The Next Closet</h3>
              <div class="project-services-icons">
                <img src="{{ asset "images/ic-research.svg"}}" alt="">
                <img src="{{ asset "images/ic-development.svg"}}" alt="">
              </div>
            </div>
            <h4 class="h5">Marketplace</h4>
            <p class="card-text">
              The largest marketplace for second hand designer brands in Netherlands
              <br>
              <br>
              Building and maintaining web and mobile app with millions of visitors per month
            </p>
            <a href="https://thenextcloset.com" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-6">
          <img src="{{ asset "images/featured-next-closet.jpg"}}" alt="">
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-6">
          <img src="{{ asset "images/featured-oschool.jpg"}}" alt="">
        </div>
        <div class="col-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">O.school</h3>
              <div class="project-services-icons">
                <img src="assets/images/ic-research.svg" alt="" >
                <img src="assets/images/ic-development.svg" alt="" >
              </div>
            </div>
            <h4 class="h5">Educational platform</h4>
            <p class="card-text">
              Judgment-free, science-based sexual wellness platform · Initial product planning and execution · A virtual classroom app, based on live streaming technology and moderated chat · Featured on Techcrunch
            </p>
            <a href="https://www.o.school/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->

      <div class="row home-featured-row">
        <div class="col-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">MoviePilot</h3>
              <div class="project-services-icons">
                <img src="{{ asset "images/ic-research.svg"}}" alt="">
                <img src="{{ asset "images/ic-development.svg"}}" alt="">
              </div>
            </div>
            <h4 class="h5">Your guide to films & cinemas</h4>
            <p class="card-text">
              Alternative of IMDB for Germany speaking market with huge number of visitors
              <br><br>
              We are sole technology partner using Ruby
              on Rails and React for several years
            </p>
            <a href="https://www.moviepilot.de/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-6">
          <img src="{{ asset "images/featured-movie-pilot.png"}}" alt="">
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-6">
          <img src="{{ asset "images/featured-boardspan.png"}}" alt="">
        </div>
        <div class="col-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Boardspan</h3>
              <div class="project-services-icons">
                <img src="{{ asset "images/ic-research.svg"}}" alt="">
                <img src="{{ asset "images/ic-development.svg"}}" alt="">
              </div>
            </div>
            <h4 class="h5">Governance application</h4>
            <p class="card-text">
              One of the leaders in data analytics, board governance and recruiting to help boards do their best work
              <br><br>
              Being only technology partner for 5+ years and in charge of whole tech stack including API and cross-platform solution
              <br><br>
              Maintaining good quality with ~95% test coverage
              <br>
              Raised angel and 2 rounds of VC funding
            </p>
            <a href="https://boardspan.com/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">WRAP</h3>
              <div class="project-services-icons">
                <img src="{{ asset "images/ic-research.svg"}}" alt="">
                <img src="{{ asset "images/ic-development.svg"}}" alt="">
              </div>
            </div>
            <h4 class="h5">Mobile engagement technology</h4>
            <p class="card-text">
              Tell your story, provide service, or sell products right in the messaging feed. All with no programming, no waiting, and no apps to download
              <br><br>
              The Wrap was a big startup that raised Series B funding. At the time we were working together, Kolosek team had a chance to partner up with around 100 people from the San Francisco office
            </p>
            <a href="https://www.wrap.co/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-6">
          <img src="{{ asset "images/featured-wrap.png"}}" alt="">
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
</main><!-- /main -->

{{> footer }}
