{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}

{{> ghost-nav }}

{{#post}}
{{!-- Everything inside the #post block pulls data from the post --}}

<main id="site-main" class="site-main" style="padding-top: 80px;">
<article class="article {{post_class}} {{#match @custom.post_image_style "Full"}}image-full{{else match @custom.post_image_style "=" "Small"}}image-small{{/match}}">

    <header class="article-header gh-canvas">

        <div class="article-tag post-card-tags">
            {{#primary_tag}}
                <span class="post-card-primary-tag">
                    <a href="{{url}}">{{name}}</a>
                </span>
            {{/primary_tag}}
            {{#if featured}}
                <span class="post-card-featured">{{> "icons/fire"}} Featured</span>
            {{/if}}
        </div>

        <h1 class="article-title">{{title}}</h1>

        {{#if custom_excerpt}}
            <p class="article-excerpt">{{custom_excerpt}}</p>
        {{/if}}

        <div class="article-byline">
        <section class="article-byline-content">

            <ul class="author-list">
                {{#foreach authors}}
                <li class="author-list-item">
                    {{#if profile_image}}
                    <a href="{{url}}" class="author-avatar">
                        <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                    </a>
                    {{else}}
                    <a href="{{url}}" class="author-avatar author-profile-image">{{> "icons/avatar"}}</a>
                    {{/if}}
                </li>
                {{/foreach}}
            </ul>

            <div class="article-byline-meta">
                <h4 class="author-name">{{authors}}</h4>
                <div class="byline-meta-content">
                    {{#if false }}
                    <time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                    {{/if}}
                    {{#if reading_time}}
                        <span class="byline-reading-time">{{reading_time}}</span>
                    {{/if}}
                </div>
            </div>

        </section>
        </div>

        {{#match @custom.post_image_style "!=" "Hidden"}}
        {{#if feature_image}}
            <figure class="article-image">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(min-width: 1400px) 1400px, 92vw"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
        {{/if}}
        {{/match}}

    </header>

    <section class="gh-content gh-canvas">
        {{content}}

        <div class="info-container sidebar-container">
          <p class="w-72 text-3xl font-bold text-left" style="font-size: 30px; font-weight: 600;">Creating <br /> software solutions <br /> that work</p>
          <div style="display: flex; margin-top: 25px;">
            <a href="https://github.com/kolosek" target="_blank">
              <img src="{{ asset "images/git-black.svg"}}">
            </a>

            <a href="https://www.facebook.com/Kolosekcom/" style="margin-left: 20px;" target="_blank">
             <img src="{{ asset "images/facebook-black.svg"}}">
            </a>

            <a href="https://www.instagram.com/kolosekcom/?hl=en" style="margin-left: 20px;" target="_blank">
              <img src="{{ asset "images/instagram-black.svg"}}">
            </a>

            <a href="https://twitter.com/kolosekcom" style="margin-left: 20px;" target="_blank">
             <img src="{{ asset "images/twitter-black.svg"}}">
            </a>

            <a href="https://rs.linkedin.com/company/kolosek-it" style="margin-left: 20px;" target="_blank">
             <img src="{{ asset "images/linkedin-black.svg"}}">
            </a>
          </div>
          <div style="margin-top: 30px; padding: 20px 12px 15px 12px; border: 2px solid #D3D3D3; width: 300px; border-radius: 5px;">
            <div style="font-size: 20px; font-weight: 600; text-align: center; margin-bottom: 22px;">Explore topics</div>
            {{#get "tags" limit="4" include="count.posts" order="count.posts desc"}}
              {{#foreach tags}}
                {{#if @last}}
                  <div style="display: flex; justify-content: space-between; padding-top: 10px; padding-bottom: 5px;">
                    <div style="font-weight: 500;">{{name}}</div>
                    <div style="font-weight: 500;">{{count.posts}}</div>
                  </div>
                {{else}}
                  <div style="display: flex; justify-content: space-between; border-bottom: 2px solid #D3D3D3; padding-top: 10px; padding-bottom: 5px;" class="flex justify-between pt-3 pb-1 border-b-2 border-gray-200">
                    <div style="font-weight: 500;">{{name}}</div>
                    <div style="font-weight: 500;">{{count.posts}}</div>
                  </div>
                {{/if}}
              {{/foreach}}
            {{/get}}
          </div>
          <div style="margin-top: 30px; padding: 20px 2px 15px 2px; background-color: #FAFAFA; max-width: 300px;">
            <div style="font-size: 20px; font-weight: 600; text-align: center; margin-bottom: 22px;">Latest posts</div>
            {{#get "posts" limit="5" order="published_at desc" include="authors,tags"}}
              <ul style="list-style-type: none;">
                {{#foreach posts}}
                  <li>
                    <a href={{url}} class="font-medium">{{title}}</a>
                  </li>
                {{/foreach}}   
              </ul>  
            {{/get}}
          </div>
        </div>
    </section>

    {{#if comments}}
        <section class="article-comments gh-canvas">
            {{comments}}
        </section>
    {{/if}}

</article>
</main>


{{!-- Read more links, just above the footer --}}
{{#if @custom.show_recent_posts_footer}}
    {{!-- The {#get} helper below fetches some of the latest posts here
    so that people have something else to read when they finish this one.

    This query gets the latest 3 posts on the site, but adds a filter to
    exclude the post we're currently on from being included. --}}
    {{#get "posts" filter="id:-{{id}}" limit="3" as |more_posts|}}

        {{#if more_posts}}
            <aside class="read-more-wrap outer" style="padding-bottom: 80px;">
                <div class="read-more inner">
                    {{#foreach more_posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
            </aside>
        {{/if}}

    {{/get}}
{{/if}}

{{/post}}

{{> footer }}

<style type="text/css">
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1245px;
    }
  }

  .container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }

  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }

  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .order-last {
    order: 6 !important;
  }

  @media (min-width: 768px) {
    .order-md-first {
      order: -1 !important;
    }
  }

  #footer {
    background: #212121;
    color: white;
    padding: 3.6rem 0 0;
  }

  #footer img {
    padding: 0 2rem 0 0;
    margin-top: 4.4rem;
  }

  #footer img.logo {
    padding: 1.4rem 0 0;
    margin: 0 0 3.8rem;
  }

  #footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    border-top: 2px solid rgba(255, 255, 255, 0.05);
    padding: 3.3rem 0 2.7rem;
    margin-top: 4.5rem;
  }

  #footer a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    line-height: 3.4rem;
    font-weight: 500;
  }

  #footer a:hover {
    color: white;
  }

  #footer a.ic {
    position: relative;
  }

  #footer a.ic img {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 1rem;
    right: -1.9rem;
  }

  #footer h3, #footer .h3 {
    margin-bottom: 1.5rem;
    font-family: "DM Sans", sans-serif;
    font-size: 1.7rem;
  }

  #footer h3 a, #footer .h3 a {
    color: white;
  }

  #footer h3 a:hover, #footer .h3 a:hover {
    color: rgba(255, 255, 255, 0.7);
  }

  #footer.footer-alt {
    background: #212121;
    padding-bottom: 3.5rem;
    position: relative;
  }

  @media (min-width: 768px) {
    #footer.footer-alt {
      padding-bottom: 3.5rem;
      padding-top: 7.1rem;
      border-top-left-radius: 20rem;
    }
  }

  #footer.footer-alt::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #8BDEDA 0%, #43ADD0 25%, #998EE0 50%, #E17DC2 75%, #EF9393 100%);
    filter: blur(61.5px);
    border-radius: 0;
    z-index: -1;
  }

  @media (min-width: 768px) {
    #footer.footer-alt::after {
      border-radius: 200px 0px 0px 0px;
    }
  }

  #footer.footer-alt p {
    color: white;
    margin-bottom: 0.2rem;
    font-size: 1.9rem;
  }

  #footer.footer-alt p span {
    font-size: 1.7rem;
    color: rgba(255, 255, 255, 0.5);
  }

  #footer.footer-alt img {
    margin-top: 0;
    padding-right: 1rem;
  }

  #footer.footer-alt a {
    font-weight: 400;
    color: white;
    line-height: inherit;
  }

  #footer.footer-alt a.btn {
    margin-top: 2.7rem;
  }

  #footer.footer-alt h5, #footer.footer-alt .h5 {
    text-align: center;
    margin-bottom: 3.5rem;
  }

  @media (min-width: 768px) {
    #footer.footer-alt h5, #footer.footer-alt .h5 {
      margin-bottom: 5rem;
    }
  }

  #footer.footer-alt h5 span, #footer.footer-alt .h5 span {
    display: inline-block;
    color: white;
    background: linear-gradient(90deg, #8BDEDA 0%, #43ADD0 25%, #998EE0 50%, #E17DC2 75%, #EF9393 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #footer .row-copyright {
    padding-top: 7.7rem;
    font-size: 1.5rem;
  }

  #footer .row-copyright img {
    padding-right: 2rem;
  }

  #footer .row-copyright a {
    text-decoration: underline;
  }

  #footer .row-copyright::before {
    content: "";
    display: block;
    width: calc(100% - 1.5rem);
    margin: 0 auto 2rem;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
  }

  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }

  .text-center {
    text-align: center !important;
  }

</style>
